ul {
    list-style-type: none;
    margin-left: -50px;
}

.well {
    margin-bottom: 20px;
    border: solid 2px;
    border-color: #636e72;
    border-radius: 5%;
}

#mapid,
body,
html {
  height: 100%;
}

ol {
  padding: 6px 8px;
  font: 16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}

li {
  margin-left: 20px;
}

option{
  font: 16px Arial, Helvetica, sans-serif;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.chart {
    margin-top: 25px;
    background-color: #636e72;
}

